<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @defendant.person.nombre_completo %>
</p>

<%= link_to 'Editar', edit_defendant_path(@defendant) %> |
<%= link_to 'Volver', defendants_path %>
