<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @complainant.person.nombre_completo %>
</p>

<%= link_to 'Editar', edit_complainant_path(@complainant) %> |
<%= link_to 'Volver', complainants_path %>
